.container {
  max-width: 98rem;
  margin: 0 auto;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.2rem;
  min-height: 100vh;
}
