.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 3.2rem 0;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary);
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid var(--primary);
  font-size: 1.6rem;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.input:focus {
  outline: none;
  border-color: var(--text-over-primary);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  background: var(--primary);
  color: var(--text-over-primary);
  font-size: 1.6rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(80%);
}
